{% extends "base_generic.html" %}

{% block add_on %}
{# Dependencies to use datarangepicker (https://www.daterangepicker.com/) #}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

{# Script needed on this given page to handle the daterangepicker #}
{% load static %}
<script type="text/javascript" src= "{% static 'scripts/daterangepicker.js' %}"></script>
{% endblock add_on %}

{% block content %}
	<h1>{{ logement.title }} </h1>

	<p>Capacité: {{ logement.capacite }}</p>

	<h4>Reservations déjà en cours:</h4>
	<ul>
	{% for reservation in logement.reservation_set.all %}
		<li> {{ reservation }} </li>
	{% endfor %}
	</ul>

	<h4>Reserver</h4>
	{# Test, to be perform better #}
	<input type="text" name="date-range" value="">
	
{% endblock content %}

